@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  height: 100vh;
  padding-top: 20px;
  background-color: #232946;
  font-family: 'Cousine', monospace;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #fef6e4;
  border-radius: 20px;
  border: 2px solid #e16162;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* colores: 
*/